
@model List<Laboratorio05.Models.CountryModel>;
@{
    ViewData["Title"] = "Countries";
}
<h1> @ViewBag.MainTitle </h1>

<div>
    <table class = "table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idiom</th>
                <th>Name</th>
                <th>Continent</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Idiom</td>
                    <td>@item.Name</td>
                    <td>@item.Continent</td>
                    <td> @Html.ActionLink("Editar", "EditCountry", new {identificador = @item.Id},
                    new { @class = "btn btn alert-info", @onclick = "return confirm('Quiere editar este país?');"})</td>

                    <td> @Html.ActionLink("Borrar", "DeleteCountry", new {identificador = @item.Id},
                    new { @class = "btn btn alert-danger", @onclick = "return confirm('Quiere borrar este país?');"})</td>

                </tr>
            }
        </tbody>
    </table>
</div>